<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="courses">


  <course-card *ngFor="let course of courses;
                      index as i; First as isFirst;last as isLast;even as isEven,odd as isOdd"
               [class.is-first]="isFirst"
               [class.is-last]="isLast"
               [class.is-even]="isEven"
               [class.is-odd]="isOdd"
               [cardIndex]="i + 1" (courseSelected)="onCourseSelected($event)" [course]="course"></course-card>

</div>



